.btn-add-address{
    background-color: rgb(35, 89, 117);
    border: none;
    color: white;
    min-height: 40px;
    font-weight: 500;
    min-width: 200px;
    max-width: 200px;
}
.btn-add-address:hover{
    background-color: #4491b8;
}
.row{
 align-items: flex-start;
}
.card{
    border-radius: 0;
   border-style: solid;
    border-color: rgb(179, 176, 176);
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .btn-delete-address{
    color: white;
    background-color: black;
    
  }
  .btn-delete-address:hover{
    background-color: #444749;
  }
  .btn-edit-address{
    color: white;
    background-color: black;
    
  }
  .btn-edit-address:hover{

    background-color: #528eac;
  }
  .block{
    margin-bottom: 180px;
  }