<div class="row mt-4">
  <div class="col-md-3 col-sm-5">
  <app-side-nav></app-side-nav>
  </div>

  <div class="container col-md-9 col-sm-7">
    <h1>Mój profil</h1>

      <div class="container mt-3">
      <form>
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-group">
                <label>Imię</label>
                <input class="form-control input-lg" value="--imie--" />

            </div>
          </div>
         
        </div>

          <div class="row mt-2">
          <div class="col-6">
            <div class="form-group">
              <label>Nazwisko</label>
              <input type="text" class="form-control input-lg" value="--nazwisko--" />
           </div>
        </div>
      </div>

      <div class="row mt-2 ">
        <div class="col-6">
          <div class="form-group">
              <label>E-mail</label>
              <input class="form-control input-lg" value="--email--" />
          </div>
        </div>
  </div>
                
  <div class="row mt-4 ">
    <div class="col-6">
      <button class="btn btn-edit-user px-2 mb-2 active btn-square-md w-100 rounded-0">Zapisz</button>
    </div>
     </div>
</form>
</div>
