<div class="back-ground border">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Zaloguj się</h1>
        
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                
                <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="username" class="col-form-label">Login</label>
                            <input type="text" id="username" formControlName="username" class="form-control" />
                        </div>
                        <div>
                            <em *ngIf="validateControl('username') && hasError('username', 'required')">Login jest wymagany</em>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="password" class="col-form-label">Hasło</label>
                            <input type="password" id="password" formControlName="password" class="form-control" />
                        </div>
                        <div>
                            <em *ngIf="validateControl('password') && hasError('password', 'required')">Hasło jest wymagane</em>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3 row">
                        <div class="col">
                            <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Zaloguj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>