<div class="container side-nav">
    <label>Kategorie</label>

        <ul class="navbar-nav side-nav-list">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/#']">Sneakersy</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/#']">Obuwie sportowe</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/']">Buty3</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/#']">Buty4</a>
            </li>
          </ul>
</div>

