<div class="cart-container border">
   <div class="cart-items-container row m-4">
     <div class="cont col-lg-8">
         <h4>Koszyk</h4>
        <div class="row">
            <div class="cart-item mt-2 col-12">
                <div class="row">
                    <div class="col-3">
                        <img class="w-100" src="https://eu.muroexe.com/73-home_default/alpha-neo-pink.jpg" width="100%">
                    </div>
                    <div class="col-6">
                        <p>--marka--</p>
                        <p>--nazwa--</p>
                        <p>--rozmiar--</p>
                        <button class="btn btn-sm mt-3 border">usuń</button>
                    </div>

                    <div class="col-3">
                        <select class="alignright">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <br><br><p class="alignright">--cena--</p>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
       
       <div class="summary-container col-lg-4 border">
           
        <h4>Do zapłaty</h4>
        <div>
            <p class="alignleft">Wartość produktów</p>
            <p class="alignright">--cena--</p><br>
        </div>
        <div style="clear: both;"></div> 
        <div>
            <p class="alignleft">Przesyłka</p>
            <p class="alignright">--cena--</p><br>
        </div>

        <div style="clear: both;"><hr></div> 

        <div>
            <strong class="alignleft">Do zapłaty (w tym VAT)</strong>
            <strong class="alignright">--cena--</strong>
        </div>
        <div style="clear: both;"></div> 
        <button type="button" class="btn btn-primary btn-square-md w-100 rounded-0 checkout" 
            button-action="checkout" type="submit">Przejdź do kasy</button>
    </div>

   </div>
</div>

