
<div class="container sproduct my-4 pt-4">
    <div class="row mt-1">
        <div class="col-lg-7 col-md-12 col-12">
            <img id="Item_img" class="img-fluid pb-1 main-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_1__1.jpg" width="90%" alt="">

            <div class="small-img-group  mb-5">
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_6__1.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_2__1.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_7__1.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 mt-3">
            <h6>--Przykład Marka--</h6>
            <h3>{{item.itemName}}</h3>
            <h2>{{item.nettPrice}},00 zł</h2>

            <select class="w-100 rounded-0">
                <option disabled selected>Wybierz rozmiar</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
                <option>45</option>
            </select>

            <button type="button" class="btn btn-primary btn-square-md w-100 rounded-0 add-to-cart" 
            (click)="addToCart()" type="submit">Dodaj do koszyka</button>

            <div class="border mt-5 p-4">
                <h6 class="mb-3">Dostawa</h6>
                
                <div>
                    <strong><h6 class="alignleft">2-5 dni robocze</h6></strong>
                    <strong><p class="alignright">za darmo</p></strong>
                </div>
                <div style="clear: both;"></div> 
                <p>Przesyłka standardowa</p>
                <hr>
            <h6><i class="bi bi-truck"></i>Bezpłatna przsyłka i zwrot</h6>
            <hr>
            <h6><i class="bi bi-arrow-return-right"></i> 30-dniowe prawo zwrotu</h6>
            </div>
        </div>
        
    </div>
    
</div>

    <div class="small-container">
      
         <div>
            <strong><h2 class="alignleft">Inni wybierali również</h2></strong>
                <a href=""><p class="alignright">Zobacz więcej<i class="bi bi-arrow-right-short ms-2"></i></p></a>
        </div>
            <div style="clear: both;"></div> 

      <div class="row similar-products mt-3">
        <h2>--Rząd produktów z tej kategori--</h2>
      </div>
      </div>



      <div class="small-container">
      
        <div>
           <strong><h2 class="alignleft">Pobobne produkty</h2></strong>
               <a href=""><p class="alignright">Zobacz więcej<i class="bi bi-arrow-right-short ms-2"></i></p></a>
       </div>
           <div style="clear: both;"></div> 
           
     <div class="row similar-products mt-3">
       <h2>--Rząd produktów z tej kategori--</h2>
     </div>
     </div>



