
<div class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-7 col-md-12 col-12">
            <img id="Item_img" class="img-fluid pb-1" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_1__1.jpg" width="90%" alt="">

            <div class="small-img-group">
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_6__1.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_2__1.jpg" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000076522222_7__1.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 mt-3">
            <h6>--Przykład Marka--</h6>
            <h3>--Przykład Nazwa--</h3>
            <h2>199,00</h2>

            <select class="w-100 rounded-0">
                <option disabled selected>Wybierz rozmiar</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
                <option>45</option>
            </select>

            <button type="button" class="btn btn-primary btn-square-md w-100 rounded-0 add-to-cart" 
            button-action="add-to-cart" type="submit">Dodaj do koszyka</button>
        </div>
        
    </div>
    
</div>
