<div class="row mt-4">
  <div class="col-md-3 col-sm-4">
  <app-side-nav></app-side-nav>
  </div>

  <div class="container col-md-9 col-sm-8">
    <h1>Historia zamówień</h1>
    <hr>

    <div class="row mt-5">
      <strong><h3 class="oreder-number">Number zamówienia: --number-zamowienia--</h3></strong>
      <div class="row mt-3 ">
        <div class="col-lg-3 col-md-4">
         <h6>Data zamówienia:</h6>
         <h6>--DAta</h6>
      </div>
      <div class="col-lg-3 col-md-4">
        <strong><h6>Koszt całkowity:</h6></strong>
        <h6>--Koszt-- zł</h6>
     </div>
     <div class="col-lg-3 col-md-4">
      <strong><h6>Status płatności</h6></strong>
      <h6>--status--</h6>
   </div>
      </div>
      <h4></h4>
    </div>
    

    <div class="row row-orederd-items">
      <div class="my-2 col-lg-4 col-sm-">
        <div class="order-item border col-lg-12 col-md-6 col-sm-5 m-2">

          <img src="https://eu.muroexe.com/73-home_default/alpha-neo-pink.jpg" width="100%">

              <div class="col-lg-6 col-md-8 ms-2">
                <p>--marka--</p>
                <p>--nazwa--</p>
                <p>--rozmiar--</p>
                <p>--cena--</p>
              </div>

  
      </div>
    </div>
    <br>
    <hr>

    
  </div>
  

</div>

