label{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}
.side-nav{
  margin-bottom: 15px;
}
.side-nav-second{
    display: none;
}
.side-nav-second > ul > li{
    list-style-type: none;
}
.side-nav-list > li > a {
    font-size: 15px;
    color: black;
    margin-left: 10px;
}

.side-nav-list > li > a:active{
    color: #055279;
}

.side-nav-list > li > a:hover{
    color: #0087ca;
}
@media screen and (max-width: 768px) {
  .side-nav{
    display: none;
  }
  .side-nav-second{
     display: inline-block;

  }

  }