<div class="container side-nav">
    <label>Mój profil</label>

        <ul class="navbar-nav side-nav-list">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/orders']">Zamówienia</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/user-data']">Moje dane</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/addresses']">Moje adresy</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link active" [routerLink]="['/returns']">Zwroty</a>
            </li>
          </ul>
    
</div>

<div class="side-nav-second">

  <label>Mój profil</label>


      <ul class="row side-nav-list">
          <li class="col" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary active" [routerLink]="['/orders']">Zamówienia</button>
          </li>
          <li class="col" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary active" [routerLink]="['/user-data']">Moje dane</button>
          </li>
          <li class="col" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary" [routerLink]="['/addresses']">Moje adresy</button>
          </li>
          <li class="col" [routerLinkActive]="['link-active']">
            <button class="btn btn-primary active" [routerLink]="['/returns']">Zwroty</button>
          </li>
        </ul>
  
</div>
