
    <div class="row hero-banner">
      <div class="hero-container">
          <h1>Lorem Ipsum is simply<br>dummy text</h1>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical </p>
          <a class="active" class="btn btn-hero" [routerLinkActive]="['link-active']" [routerLink]="['/items']">Zobacz więcej</a>
      </div>
  
  
  </div>
  
  <div class="categories" style="margin-top: 100px;">
      <div class="small-container">
      <div class="row">
          <div class="banners col-3">
              <img class="mb-3" src="https://www.famousfootwear.com/-/media/project/tenant/famous-footwear/famous-footwear/homepage/2022/summer/size-2/size_2b_wedges.jpg">
              <span class="image-caption">Kupuj --kategoria--</span>
          </div>
          <div class="banners col-3">
              <img class="mb-3" src="https://www.famousfootwear.com/-/media/project/tenant/famous-footwear/famous-footwear/homepage/2022/summer/size-2/wk17_052622_hp_size_2c_vans.jpg">
              <span  class="image-caption">Kupuj --kategoria--</span>
          </div>
          <div class="banners col-3">
              <img class="mb-3" src="https://www.famousfootwear.com/-/media/project/tenant/famous-footwear/famous-footwear/homepage/2022/summer/size-2/wk17_052622_hp_size_2b_docs.jpg">
              <span class="image-caption">Kupuj --kategoria--</span>
          </div>
      </div>
  </div>
  </div>
  
  <div class="small-container my-5">
    <h2 class="title">--Przykład kategoria--</h2>
    <div class="row">
      <h2>--Rząd produktów z tej kategori--</h2>
    </div>
    </div>

  
 
    <div class="row">
      <div class="banners col-4">
        <a href="">
          <img class="mb-3" src="https://m.media-amazon.com/images/G/01/6pm/promos/220505/brands-stevemadden.png">
          <span class="image-caption">Kupuj Steve Madden</span>
        </a>
      </div>
      <div class=" banners col-4 ">
        <a href="">
          <img class="mb-3" src="https://m.media-amazon.com/images/G/01/6pm/promos/220505/brands-skechers.png">
          <span class="image-caption">Kupuj Skechers</span>
        </a>
      </div>
      <div class="banners col-4 ">
        <a href="">
          <img class="mb-3" src="https://m.media-amazon.com/images/G/01/6pm/promos/220505/brands-tommy.png">
          <span class="image-caption">Kupuj Tommy Hilfinger</span>
        </a>
      </div>
      <div class="banners col-4 ">
        <a href="">
          <img class="mb-3" src="https://m.media-amazon.com/images/G/01/6pm/promos/220505/brands-champion.png">
          <span class="image-caption">Kupuj Champion</span>
        </a>
      </div>
    </div>

    <div class="small-container">
      <h2 class="title">--Przykład kategoria--</h2>
      <div class="row">
        <h2>--Rząd produktów z tej kategori--</h2>
      </div>
      </div>

        