<header>
  <nav class="navbar navbar-expand-md navbar-light justify-content-center first-navbar">
    <a class="navbar-brand abs p-2" [routerLinkActive]="['link-active']" [routerLink]="['/']">Nazwa Sklepu</a>
    
    <div class="btn-group ms-auto p-2" role="group">
      <div class="dropdown">
        <button class="btn btn-md dropbtn btn-1" [routerLinkActive]="['link-active']" [routerLink]="['/user-data']">Profil</button>
          <div class="dropdown-content border">
            <button class="btn btn-dropdown" [routerLinkActive]="['link-active']" [routerLink]="['/#']">Zaloguj się</button>
            <p>Jesteś nowym klientem?</p>
              <a class="active" [routerLinkActive]="['link-active']" [routerLink]="['/#']">Zarejestruj się</a>

              <div class="dropdown-divider"></div>

              <ul>
                <li [routerLinkActive]="['link-active']">
                  <a class="active" [routerLink]="['/orders']">Zamówienia</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                  <a class="active" [routerLink]="['/user-data']">Moje dane</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                  <a class="active" [routerLink]="['/addresses']">Moje adresy</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                  <a class="active" [routerLink]="['/returns']">Zwroty</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                  <a class="active" [routerLink]="['/#']">Pomoc</a>
                </li>
              </ul>
          </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-md dropbtn btn-1" [routerLinkActive]="['link-active']" [routerLink]="['/cart']">Koszyk</button>
          <div class="dropdown-content border">
            <!--Przykład-->
            <div class="container mt-3">
              <h6>Twój koszyk jest pusty</h6>
            </div>
          </div>
      </div>
  </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" 
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="navbar-collapse" 
        aria-label="Toggle navigation" 
        [attr.aria-expanded]="isExpanded"
        (click) ="toggle()"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"
        [ngClass] ="{ show: isExpanded }">
        <ul class="navbar-nav second-nav-list">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Damskie</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria1</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria2</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria3</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria4</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
            </div>
          </li>
          
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Męskie</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria1</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria2</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria3</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria4</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Dziecięce</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria1</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria2</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Kategoria3</h3>
                <ul>
                  <li><a href="">Link 01</a></li>
                  <li><a href="">Link 02</a></li>
                  <li><a href="">Link 03</a></li>
                  <li><a href="">Link 04</a></li>
                  <li><a href="">Link 05</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/admin-dashboard']">?panel admin? </a>
          </li>
        </ul>
        
      </div>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Wyszukaj...">
        <button class="btn btn-sm bg-dark"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </nav>
</header>




      