*{
  font-family: Arial;
  text-decoration: none;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius:0;

 }
 .navbar-brand.abs
    {
        font-size: 25px;
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.btn-group > a{
  margin: 4px 2px;
  margin-right: 20px;
}

.btn-1, .btn-2{
  cursor:pointer;
  border:none;
  font-size: 15px;
  box-shadow:0px 8px 15px rgba(0,0,0,0.1);
  transition:all 0.3s ease;
}

.btn-1:hover{
  background:#528eac;
  transform:translateY(-6px);
  color:#fff;
  box-shadow:0px 5px 25px rgba(192, 213, 214, 0.445);
  
}
.btn-2:hover{
  background:#0a4868;
  transform:translateY(-6px);
  color:#fff;
  box-shadow:0px 10px 25px rgba(117, 190, 194, 0.445);
}

.second-nav-list{
  padding-left: 0px;

}
.second-nav-list > li{
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 130px;
}
.second-nav-list > li::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.second-nav-list > li > a:hover{
  color: #0087ca;
}
.second-nav-list > li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.form-inputs{
  position:relative;
  display: inline-block;

}
inputs .form-control{
  height:45px; 
}

.input-group{
  padding-top: 5px;
  max-width: 300px;
  margin-left: 30px;
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}
