<header>
  <nav class="navbar navbar-expand-md navbar-light justify-content-center first-navbar">
    <a class="navbar-brand abs p-2" [routerLinkActive]="['link-active']" [routerLink]="['/']">Nazwa Sklepu</a>
    
    <div class="btn-group ms-auto p-2" role="group">
      <div class="dropdown">
        <button class="btn btn-md dropbtn btn-1" [routerLinkActive]="['link-active']" [routerLink]="['/user-data']">Profil</button>
        <div class="dropdown-content border">
          <section *ngIf="!isUserAuthenticated">
            <button class="btn btn-dropdown" [routerLinkActive]="['link-active']" [routerLink]="['/authentication/login']">Zaloguj się</button>
            <p>Jesteś nowym klientem?</p>
            <a class="active" [routerLinkActive]="['link-active']" [routerLink]="['/authentication/register']">Zarejestruj się</a>
          </section>
          <div class="dropdown-divider"></div>

          <ul *ngIf="isUserAuthenticated">
            <li [routerLinkActive]="['link-active']">
              <a class="active" [routerLink]="['/orders']">Zamówienia</a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a class="active" [routerLink]="['/user-data']">Moje dane</a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a class="active" [routerLink]="['/addresses']">Moje adresy</a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a class="active" [routerLink]="['/returns']">Zwroty</a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a class="active" [routerLink]="['/']">Pomoc</a>
            </li>
          </ul>
          <section class="mb-2" *ngIf="isUserAuthenticated">
            <div class="dropdown-divider"></div>
            <a class="active" (click)="logout()">Wyloguj się</a>
          </section>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-md dropbtn btn-1" [routerLinkActive]="['link-active']" [routerLink]="['/cart']">Koszyk</button>
          <div class="dropdown-content border">
            <!--Przykład-->
            <div class="container mt-3">
              <h6>Twój koszyk jest pusty</h6>
            </div>
          </div>
      </div>
  </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" 
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="navbar-collapse" 
        aria-label="Toggle navigation" 
        [attr.aria-expanded]="isExpanded"
        (click) ="toggle()"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"
        [ngClass] ="{ show: isExpanded }">
        <ul class="navbar-nav second-nav-list">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Damskie</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Kategorie</h3>
                <ul>
                  <li><a href="">Zobacz wszystkie</a></li>
                  <li><a href="">Sneakersy</a></li>
                  <li><a href="">Trampki</a></li>
                  <li><a href="">Szpilki</a></li>
                  <li><a href="">Oxfordy</a></li>
                  <li><a href="">Trekkingi</a></li>
                  <li><a href="">Czółenka</a></li>
                  

                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  <li><a href="">Botki</a></li>
                  <li><a href="">Kozaki</a></li>
                  <li><a href="">Klapki</a></li>
                  <li><a href="">Japonki</a></li>
                  <li><a href="">Sandały</a></li>
                  <li><a href="">Buty do biegania</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Marki</h3>
                <ul>
                  <li><a href="">addidas</a></li>
                  <li><a href="">Aige</a></li>
                  <li><a href="">Alberta Feretti</a></li>
                  <li><a href="">ALDO</a></li>
                  <li><a href="">Alpe</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  <li><a href="">ASiCS</a></li>
                  <li><a href="">Puma</a></li>
                  <li><a href="">Tamaris</a></li>
                  <li><a href="">Nike</a></li>
                  <li><a href="">Lacoste</a></li>
                </ul>
              </div>
            </div>
          </li>
          
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Męskie</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Kategorie</h3>
                <ul>
                  <li><a href="">Zobacz wszystkie</a></li>
                  <li><a href="">Sneakersy</a></li>
                  <li><a href="">Trampki</a></li>
                  <li><a href="">Buty do biegania</a></li>
                  <li><a href="">Trekkingi</a></li>
                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  <li><a href="">Mokasyny</a></li>
                  <li><a href="">Espadryle</a></li>
                  <li><a href="">Trzewiki</a></li>
                  <li><a href="">Klapki</a></li>
                  <li><a href="">Kozaki</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Marki</h3>
                <ul>
                  <li><a href="">BOSS</a></li>
                  <li><a href="">Calvin Klein</a></li>
                  <li><a href="">Tommy Hilfinger</a></li>
                  <li><a href="">Big Star</a></li>
                  <li><a href="">Puma</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  <li><a href="">addidas</a></li>
                  <li><a href="">New Balance</a></li>
                  <li><a href="">Ascis</a></li>
                  <li><a href="">Clarks</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link active" [routerLink]="['/items']">Dziecięce</a>
            <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">Buty dziewczęce</h3>
                <ul>
                  <li><a href="">Zobacz wszystkie</a></li>
                  <li><a href="">Sneakersy</a></li>
                  <li><a href="">Trampki</a></li>
                  <li><a href="">Sandały</a></li>
                  <li><a href="">Kapcie</a></li>
                  <li><a href="">Klapki</a></li>
                </ul>            
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  
                  <li><a href="">Półbuty</a></li>
                  <li><a href="">Na rzepy</a></li>
                  <li><a href="">Kozaki</a></li>
                  <li><a href="">Japonki</a></li>
                  <li><a href="">Trzewiki</a></li>
                </ul>
              </div>
    
              <div class="menu-col-1">
                <h3 class="menu-category">Buty chłopięce</h3>
                <ul>
                  <li><a href="">Zobacz wszystkie</a></li>
                  <li><a href="">Sneakersy</a></li>
                  <li><a href="">Trampki</a></li>
                  <li><a href="">Sandały</a></li>
                  <li><a href="">Kapcie</a></li>
                  
                </ul>
              </div>
              <div class="menu-col-1">
                <h3 class="menu-category"><br></h3>
                <ul>
                  <li><a href="">Klapki</a></li>
                  <li><a href="">Wsuwane</a></li>
                  <li><a href="">Na rzepy</a></li>
                  <li><a href="">Trzewiki</a></li>
                  <li><a href="">Kozaki</a></li>
                  
                </ul>
              </div>
            </div>
          </li>
        </ul>
        
      </div>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Wyszukaj...">
        <button class="btn btn-sm bg-dark"><i class="bi bi-search"></i></button>
      </div>
    </div>
  </nav>
</header>




      