@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

*{
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar-toggler-icon {
  border-color: #000;
  
}

p{
  font-size: 13px;
  margin: 0;
  padding: 0;
}

header{
  background: #5cc4a1;
  color: #222;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius:0;

 }
 .navbar-brand.abs
    {
        font-size: 25px;
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.btn-group{
  margin-right: 10px;
}

.btn-1{
  margin-right: 10px;
  cursor:pointer;
  border:none;
  font-size: 15px;
  box-shadow:0px 8px 15px rgba(0,0,0,0.1);
  transition:all 0.2s ease;
}

.btn-1:hover{
  background:#318a6c;
  transform:translateY(-3px);
  color:#fff;
}

.second-nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.second-nav-list > a{
  display: block;
  text-decoration: none;
  padding: .75em 1.75em;
}

.second-nav-list > li:hover{
  color: #39ca00;
}

.second-nav-list > li > a{
  color: #222;
}

.form-inputs{
  position:relative;
  display: inline-block;

}
inputs .form-control{
  height:45px; 
}

.input-group{
  padding-top: 5px;
  max-width: 300px;
  margin-left: 30px;
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  outline: #0087ca;
  border: #0087ca;
  border-width:5px;
  min-width: 300px;
  min-height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform:translateX(-75.6%);
  text-align: center;
}

.dropdown-content > a {
  text-decoration: underline;
  font-size: 14px;
  margin: 0;
  padding-bottom: 16px;
  display: block;
  color: #0087ca;
}

.dropdown-content > a:hover {
  color: #0a4868;
}

.dropdown:hover .dropdown-content {display: block;}

.btn-dropdown{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  background-color: #0087ca;
  min-height: 30px;
  min-width: 230px;
}
.btn-dropdown:hover{
  background-color: #719db3;
}

.dropdown-content > ul{
  list-style-type: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: start;
}

.dropdown-content > ul > li{
  margin-bottom: 20px;
  margin-top: 20px;
}
.dropdown-content > ul > li > a{
  color: black;
}

.dropdown-content > ul > li > a:hover{
  color: #0087ca;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu-sub {
  margin-top: 10px;
  position: absolute;
  left: 0;
  background: #444;
  width: 100%;
  color: #fff;
  padding: 32px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

nav li:hover .menu-sub {
  position: absolute;
  display: block;
  opacity: 1;
  visibility: visible;
}

.menu-sub li {
  display: block;
}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
  color: rgb(218, 203, 203);
}

.menu-sub a:hover {
  text-decoration: underline;
}

.menu-category {
  margin: 2.5em 0 .5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 50%;
}


.second-nav-list > li{
  margin-left: 8px;
  margin-right: 8px;
  width: 130px;
}


.second-nav-list > li::after{
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.second-nav-list > li > a:hover{
  color: #6e93a5;
  text-decoration: underline;
  text-underline-offset: 4px;
}
@media screen and (max-width: 991px) {

  menu-sub {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  nav li:hover .menu-sub {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
}