<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>O nas</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            , quis nostrud exercitation ullamco laboris nis</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Kategorie</h6>
          <ul class="footer-links">
            <li><a></a></li>
            <li><a>Damskie</a></li>
            <li><a>Męskie</a></li>
            <li><a>Dziecięce</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Pomoc i kontakt</h6>
          <ul class="footer-links">
            <li><a>Śledzenie przesyłki</a></li>
            <li><a>Metody płatności</a></li>
            <li><a>Tabela rozmarów</a></li>
            <li><a>Procedura zwortu</a></li>
            <li><a>Reklamacja</a></li>
            <li><a>Regulamin</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#"></a>
          </p>
        </div>
      </div>
    </div>
</footer>