<footer class="site-footer stick-bootom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>O nas</h6>
          <p class="text-justify"></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Kategorie</h6>
          <ul class="footer-links">
            <li><a></a></li>
            <li><a>Damskie</a></li>
            <li><a>Męskie</a></li>
            <li><a>Dziecięce</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Linki</h6>
          <ul class="footer-links">
            <li><a>link</a></li>
            <li><a>link</a></li>
            <li><a>link</a></li>
            <li><a>link</a></li>
            <li><a>link</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#"></a>
          </p>
        </div>
      </div>
    </div>
</footer>