<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Obsługa klienta</h6>
          <ul class="footer-links">
            <li><a [routerLinkActive]="['link-active']" [routerLink]="['/help']">Regulamin</a></li>
            <li><a>Śledzenie przesyłki</a></li>
            <li><a>Metody płatności</a></li>
            <li><a>Procedura zwortu</a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Kategorie</h6>
          <ul class="footer-links">
            <li><a></a></li>
            <li><a>Damskie</a></li>
            <li><a>Męskie</a></li>
            <li><a>Dziecięce</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Pomoc i kontakt</h6>
          <ul class="footer-links">
            <li><a></a></li>
            <li><a>FAQ</a></li>
            <li><a>Tabela rozmarów</a></li>
            <li><a>Kontakt</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#"></a>
          </p>
        </div>
      </div>
    </div>
</footer>