<div class="container row " style="padding-top: 2rem; padding-bottom:2rem">
    <h1>Kategoria butów</h1>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <app-items-nav></app-items-nav>
    </div>

  <div class="col-lg-9 col-md-8 col-sm-12">

    <div class="row" *ngIf="items">
    
        <div class="col-6 col-lg-4 col-md-4 col-xs-4 my-2" *ngFor="let item of items">

            <div class="thumbnail-container m-1">
                <a class="active" [routerLinkActive]="['link-active']" [routerLink]="['/item-details', item.ID_Item]">
                    <img class="w-100" src="{{ item.Picture }}"/>
                 </a>
            <div class="row" style="padding-left: 10px;">
                <p>{{ item.ItemName }}</p>  
            </div>
            <div class="row" style="padding-left: 10px;">

                <div class="col-lg-9 col-md-7 col-sm-6">
                    <p>{{item.Stock}}</p> 
                 </div>

                 <div class="col-lg-3 col-md-5 col-sm-6 ">
                    <button type="button" class="btn btn-primary btn-square-md rounded-0 align-self-end add-to-cart">
                        <i class="bi bi-bag-fill"></i>
                    </button>
                    </div>
            </div>
            </div>
            
        
        </div>
    </div>
    </div>
    </div>
